/* Responsive Layout */
@media screen and (max-width: 700px) {
    .nav-bar {
        flex-direction: column;
    }
}

.body_background_like-picture {
    /* The color of the picture's background: */
    background-color: rgb(244, 240, 237);
}

/* Remove Margin */
.margin_no {
    margin: 0;
}

/* Headers */
.page__main-header {
    background-color: #600000;
    text-align: center;
    color: white;
    padding: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 4em;
}

.block__header {
    text-align: center;
    color: #800000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 2.5em;
    margin: 0px 0px 50px 0px;
}

/* Paragraphs */
.main-text {
    color: dimgray;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4em;
}

.ref-text {
    color: dimgray;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}


.input-box {
    font-size: 1.4em;
}

.form__button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    margin: 2em 0em 2em 0em;
}

/* Link Buttons */
.link-text {
    color: #A00000;
    text-decoration: none;
}

.link-text:hover {
    color: #FF0000;
}

.link-text:active {
    color: #A00000;
}

/* Navigation Bar */
.nav-bar {
    display: flex;
    background-color: #252525;
}

.nav-bar__item {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
}

    .nav-bar__item:hover {
        background-color: #DDDDDD;
        color: black;
    }

    .nav-bar__item:active {
        background-color: #808080;
        color: black;
    }

.nav-bar__item_current {
    background-color: #A00000;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
}

    .nav-bar__item_current:hover {
        background-color: #DDDDDD;
        color: #A00000;
    }

    .nav-bar__item_current:active {
        background-color: #808080;
        color: black;
    }

/* Footer */
.foot-bar {
    background-color: dimgray;
    text-align: center;
    padding: 10px;
}

.foot-bar__text {
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}