<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>MAF - About</title>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/about_page.css"/>
</head>
<body class="margin_no body_background_like-picture">
    <!-- The Header -->
    <header>
        <h1 class="margin_no page__main-header">About MAF</h1>
    </header>

    <!-- The Navigation Bar -->
    <nav>
        <section class="nav-bar">
            <a class="nav-bar__item" href="/">Home</a>
            <a class="nav-bar__item" href="/form">Form</a>
            <a class="nav-bar__item_current" href="/about">About</a>
        </section>
    </nav>

    <!-- Main Content -->
    <article>
            <section class="info_section">
                <h2 class="block__header">What is MAF?</h2>
                <p class="main-text">MAF is the Main-About-Form site, the first Adam's homework web project.<br/>
                    <a class="link-text" href="https://github.com/adam415/MAF_Site">Click here for GitHub repo</a>
                </p>
            </section>
    </article>

    <!-- The Footer -->
    <footer class="foot-bar">
        <p class="foot-bar__text">The MAF Site. &copy; Adam, 2018. All Rights Reserved.</p>
    </footer>
</body>
</html>