<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>MAF - Form</title>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/form_page.css"/>
</head>
<body class="margin_no body_background_like-picture">
    <!-- The Header -->
    <header>
        <h1 class="margin_no page__main-header">MAF Form</h1>
    </header>

    <!-- The Navigation Bar -->
    <nav>
        <section class="nav-bar">
            <a class="nav-bar__item" href="/">Home</a>
            <a class="nav-bar__item_current" href="/form">Form</a>
            <a class="nav-bar__item" href="/about">About</a>
        </section>
    </nav>

    <!-- Main Content -->
    <article>
        <section class="form-section">
            <h2 class="block__header">Fill in Your Info</h2>
            <form class="form" method="post" onsubmit="alert('Your form has been successfully submitted.')">
                <p class="main-text">Your name:</p>
                <input id="nameBox" class="input-box" type="text" name="userName"/>
                <p class="main-text">Your age:</p>
                <input id="ageBox" class="input-box" type="number" name="userAge"/>
                <input id="submitButton" type="submit" class="form__button" value="Submit"/>
            </form>
        </section>
    </article>

    <!-- The Footer -->
    <footer class="foot-bar">
        <p class="foot-bar__text">The MAF Site. &copy; Adam, 2018. All Rights Reserved.</p>
    </footer>
</body>
</html>