<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>MAF - Home</title>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/home_page.css"/>
</head>
<body class="noMargin picBackground">
    <!-- The Header -->
    <header>
        <h1 class="noMargin pageHeader">Welcome MAF</h1>
    </header>

    <!-- The Navigation Bar -->
    <nav>
        <section class="navBar">
            <a class="curNavItem" href="/">Home</a>
            <a class="navItem" href="/form">Form</a>
            <a class="navItem" href="/about">About</a>
        </section>
    </nav>

    <!-- Main Content -->
    <article class="mainContent">
            <section class="picColumn">
                <img src="pics/the_furry_thing_8.jpg" width="100%"/>
                <p class="refText"><a class="linkText" href="https://www.instagram.com/kamweiatwork/">Kamwei Fong</a> — The Furry Thing Series. Kitty No.8, 2018</p>
            </section>
            <section class="textColumn">
                <section class="greetingsBlock">
                    <h2 class="pageSubHeader">Home Page</h2>
                    <p class="mainText">Welcome to the MAF Site! I hope you'll like this page.<br/>Let's have a look at this fluffy cat :)</p>
                </section>
            </section>
    </article>

    <!-- The Footer -->
    <footer class="footBar">
        <p class="footText">The MAF Site. &copy; Adam, 2018. All Rights Reserved.</p>
    </footer>
</body>
</html>