<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>MAF - Home</title>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/home_page.css"/>
</head>
<body class="margin_no body_background_like-picture">
    <!-- The Header -->
    <header>
        <h1 class="margin_no page__main-header">Welcome MAF</h1>
    </header>

    <!-- The Navigation Bar -->
    <nav>
        <section class="nav-bar">
            <a class="nav-bar__item_current" href="/">Home</a>
            <a class="nav-bar__item" href="/form">Form</a>
            <a class="nav-bar__item" href="/about">About</a>
        </section>
    </nav>

    <!-- Main Content -->
    <article class="article">
            <section class="article__pic-column">
                <img src="pics/the_furry_thing_8.jpg" width="100%"/>
                <p class="ref-text">
                    <a class="link-text" href="https://www.instagram.com/kamweiatwork/">Kamwei Fong</a>
                     — The Furry Thing Series. Kitty No.8, 2018
                </p>
            </section>
            <section class="article__text-column">
                <section class="greetings-block">
                    <h2 class="block__header">Home Page</h2>
                    <p class="main-text">Welcome to the MAF Site! I hope you'll like this page.<br/>Let's have a look at this fluffy cat :)</p>
                </section>
            </section>
    </article>

    <!-- The Footer -->
    <footer class="foot-bar">
        <p class="foot-bar__text">The MAF Site. &copy; Adam, 2018. All Rights Reserved.</p>
    </footer>
</body>
</html>